export OPEN_AI_KEY = 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 # key from open AI
MODEL_NAME = your_model_name # name of the model

export CELERY_BROKER_URL = redis://localhost:6379/0
export CELERY_RESULT_BACKEND = redis://localhost:6379/0
export REPLICATE_API_TOKEN=[token]
export TELEGRAM_BOT_TOKEN = 6371180754:AAFNJgt2rw_avGVAAvYjVUY-XvwzoDlHXPc
export SYSTEM_PROMPT = "You are an AI named sonic and you are in a conversation with a human. You can answer questions, provide information, and help with a wide variety of tasks."
